<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e29181">  <td>22/04/20 14:49:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.succesfullySendAnomaly()[pri:2, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">succesfullySendAnomaly</td> 
  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/04/20 14:48:58</td>   <td>-15039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.basicUserLoginMethod()[pri:1, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">basicUserLoginMethod</td> 
  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/04/20 14:48:54</td>   <td>-18611</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorAnomalySendingForCorrectResultTest.beforeTest()[pri:0, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/04/20 14:50:01</td>   <td>48706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.threatVerifyFromDB()[pri:4, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">threatVerifyFromDB</td> 
  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/04/20 14:49:44</td>   <td>31641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.anomalyCorrectResult()[pri:3, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">anomalyCorrectResult</td> 
  <td>main@37926966</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/04/20 14:50:02</td>   <td>49279</td> <td title="&lt;&lt;AISimulatorAnomalySendingForCorrectResultTest.aftersuit()[pri:0, instance:BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest@4229bb3f]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@37926966</td>   <td></td> </tr>
</table>
